dokument.aux
dokument.bbl
dokument.bbl-SAVE-ERROR
dokument.bcf
dokument.blg
dokument.fdb_latexmk
dokument.fls
dokument.lof
dokument.log
dokument.lol
dokument.lot
dokument.out
dokument.run.xml
texput.fls
texput.log
dokument.synctex.gz
